<!DOCTYPE html>

<html>
  <head>
    <title></title>
    <meta content="summary_large_image" name="twitter:card" />
    <meta content="website" property="og:type" />
    <meta content="" property="og:description" />
    <meta content="" property="og:title" />
    <meta content="" name="description" />
    <meta charset="utf-8" />
    <meta content="width=device-width" name="viewport" />
    <link rel="stylesheet" href="assets\styles.css" />
  </head>

  <body>
    <div class="bee-page-container">
        <div class="bee-row bee-row-1">
			<div class="bee-row-content no_stack">
				<div class="bee-col bee-col-1 bee-col-w4">
					<div class="bee-block bee-block-1 bee-icons">
						<div class="bee-icon bee-icon-last">
							<div class="bee-content">
								<div class="bee-icon-image"><img height="64px" src="assets\logo.png" width="auto"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="bee-col bee-col-2 bee-col-w8">
					<div class="bee-block bee-block-1 bee-menu">
						<nav class="bee-menu"><input class="bee-hamburger-trigger" id="bee-hamburger-memu-r0c1m0" type="checkbox"><label class="bee-hamburger-controls" for="bee-hamburger-memu-r0c1m0"><span class="bee-hamburger-open"></span><span class="bee-hamburger-close"></span></label>
							<ul class="bee-horizontal with-bee-hamburger">
								<li><a href="main.html" class="tmbl-login" target="_self" title="">Login</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
      <div class="bee-row bee-row-2">
        <div class="bee-row-content reverse">
          <div class="bee-col bee-col-1 bee-col-w5">
            <div class="bee-block bee-block-1 bee-spacer">
              <div class="spacer" style="height: 60px"></div>
            </div>
            <div class="bee-block bee-block-2 bee-heading">
              <h1
                style="
                  color: #e57965;
                  direction: ltr;
                  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                  font-size: 19px;
                  font-weight: 400;
                  letter-spacing: normal;
                  line-height: 120%;
                  text-align: left;
                  margin-top: 0;
                  margin-bottom: 0;
                "
              >
                <span class="tinyMce-placeholder">Deteksi penyakit sapi </span>
              </h1>
            </div>
            <div class="bee-block bee-block-3 bee-heading">
              <h1
                style="
                  color: #171614;
                  direction: ltr;
                  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
                  font-size: 45px;
                  font-weight: 700;
                  letter-spacing: normal;
                  line-height: 120%;
                  text-align: left;
                  margin-top: 0;
                  margin-bottom: 0;
                "
              >
                <span class="tinyMce-placeholder"
                  >Sistem Pakar Diagnosa Penyakit Pada Sapi Menggunakan Metode
                  Rational Unified Process</span
                >
              </h1>
            </div>
            <div class="bee-block bee-block-4 bee-spacer">
              <div class="spacer" style="height: 45px"></div>
            </div>
            <div class="bee-block bee-block-5 bee-button"><a class="bee-button-content" href="www.example.com" style="font-size: 16px; background-color: #e57965; border-bottom: 1px solid transparent; border-left: 1px solid transparent; border-radius: 6px; border-right: 1px solid transparent; border-top: 1px solid transparent; color: #ffffff; direction: ltr; font-family: inherit; font-weight: 400; max-width: 50%; padding-bottom: 5px; padding-left: 45px; padding-right: 45px; padding-top: 5px; width: auto; display: inline-block;" target="_self"><span style="word-break: break-word; font-size: 16px; line-height: 200%;">Pelajari Lebih Lanjut</span></a></div>
            <div class="bee-block bee-block-6 bee-spacer">
              <div class="spacer" style="height: 70px"></div>
            </div>
          </div>
          <div class="bee-col bee-col-2 bee-col-w3">
            <div class="bee-block bee-block-1 bee-divider">
              <div class="spacer" style="height: 0px"></div>
            </div>
            <div class="bee-block bee-block-2 bee-divider">
              <div
                class="center bee-separator"
                style="border-top: 1px solid #dddddd; width: 100%"
              ></div>
            </div>
          </div>
          <div class="bee-col bee-col-3 bee-col-w4">
            <div class="bee-block bee-block-1 bee-spacer">
              <div class="spacer" style="height: 60px"></div>
            </div>
            <div class="bee-block bee-block-2 bee-image">
              <img
                alt="Sapi Sehat Ente Senang"
                class="bee-center bee-fixedwidth bee-fullwidthOnMobile"
                src="https://img.freepik.com/free-photo/fun-3d-cartoon-cow-with-mask_183364-80084.jpg?w=740&t=st=1698893774~exp=1698894374~hmac=2ca0a93283ef5ff898d56732b80ad46c55492c92fb1be0946cd27d845234f8c8"
                style="max-width: 480px"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="bee-row bee-row-3">
        
        <div class="bee-row-content">
          <div class="bee-col bee-col-1 bee-col-w12">
            <div class="bee-block bee-block-1 bee-divider">
              <div
                class="center bee-separator"
                style="border-top: 1px solid #dddddd; width: 100%"
              ></div>
            </div>
            <div class="bee-block bee-block-2 bee-text">
              <div
                class="bee-text-content"
                style="
                  line-height: 120%;
                  font-size: 12px;
                  font-family: inherit;
                  color: #555555;
                "
              >
                <p
                  style="font-size: 22px; line-height: 26px; text-align: center"
                >
                  Behind the word mountains, far from the countries Vokalia and
                  Consonantia.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
